<div class= " rounded-lg bg-white/60 backdrop-blur-sm flex justify-center items-center min-h-[100vh]">
  <div class="bg-white rounded-lg p-10 w-[90%] md:w-[60%] grid col-span-1 content-center justify-items-center border-2 border-primary"  >
    <h1 class="">Verify Your Email</h1>
    <p class="">Check your email & click the link to activate your account.</p>
    <img src="../../../../assets/verifyemail.svg" alt="emailVerify" class="  h-[30vh]">
    <button type="button" class="  text-white bg-primary hover:bg-primaryS1 focus:outline-none focus:ring-4 focus:ring-primaryS3 font-medium rounded-full  px-5 py-2.5 text-center me-2 mb-2 text-md " type="submit">Verify Email</button>

  </div>

</div>
