<div class="flex flex-col justify-between bg-secondary rounded-2xl h-[100vh]">

  <div class="grid grid-cols-4 h-[90%] md:h-[100%]  z-10  bg-secondary ">
    <div class=" hidden md:flex items-center justify-center ml-5  h-[100%] grid-rows-9  ">
      <div class="bg-secondary  ">


        <div class="w-full h-full max-w-sm bg-white border border-primary rounded-lg  shadow-lg shadow-primary/90 ">
          <div class="flex justify-end px-4 pt-4">
            <button id="dropdownButton" data-dropdown-toggle="dropdown"
              class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
              type="button">
              <span class="sr-only">Open dropdown</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 16 3">
                <path
                  d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
              </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdown"
              class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2" aria-labelledby="dropdownButton">
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export
                    Data</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex flex-col items-center">
            <img class="w-24 object-cover  border-2 border-primary shadow-primary/90 aspect-square mb-3 rounded-full shadow-lg" src="../../../../assets/Images/bot.gif" alt="Bonnie image" />
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Google Gemini</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">Chat Ai</span>
            <div class="flex px-5 text-center mt-4 md:mt-6">
              Gemini represents a significant leap forward in how AI can help improve our daily lives.
            </div>
          </div>
        </div>

      </div>

      <div class=" row-span-4 p-2 ">

        <div class="card flex justify-content-center">
          <!-- <p-chart height="200px" type="doughnut" [data]="data" [options]="options"></p-chart> -->
      </div>

      </div>
    </div>
    <div class="grid h-full  col-span-4 md:col-span-3  grid-rows-10 border-2 border-white">
      <div class="bg-secondary row-span-1">
        <div class="flex items-center justify-between px-2 py-2">
          <div class="flex-shrink-0">
            <img class="w-[3rem] aspect-square object-cover rounded-full" [src]="'../../../../assets/Images/bot.gif'" alt="bot image">
          </div>
          <div class="flex-1 min-w-0 ms-4">
            <p class="text-sm font-bold text-primary truncate ">
              Gemini
            </p>
            <p class="text-sm text-lime-500 truncate ">
              Online
            </p>
          </div>

        </div>
      </div>
      <div class="bg-gradient-to-r from-secondary to-blue-950 row-span-8  h-[32rem] " #ChatArea>
        @if(messages$| async ){
          <div class=" chat-area h-[100%]">
            <div
            *ngFor="let message of messages$ | async "
            [ngClass]="{ sender: message.user === 'User1' }"
            class="chat-booble-container"
          >
            <div class="chat-bubble max-w-[90%] md:max-w-[50%]">
              {{ message ? message.text : "No message" }}
             @if(message.img){
              <img  [src]="message.img" alt="Image Preview" class="w-[5rem] aspect-square object-cover" />
             }
            </div>
          </div>
            <div #endofChat></div>
          </div>
        <!-- <div class="flex flex-col ">
          @for (message of messages; track $index; ) {
          <div

           [ngClass]="{'flex justify-end': message.user === 'User1'}">
            <p class="text-white w-[50%]  p-4 mx-2 rounded-lg " [ngClass]="{'bg-primaryS1 text-right': message.user === 'User1', 'bg-blue-500 flex  text-left': message.user === 'User2'}">{{ message.text }}</p>
          </div>
          }
        </div> -->


        }
      </div>
      <div class=" row-span-1 fixed bottom-16 md:static md:bottom-0 bg-secondary flex justify-center items-center w-full px-2 border-t-2 border-t-secondaryS3">
        <div class="flex items-center w-full ">

  
          <div class=" w-full">
            <input
              type="text"
              id="simple-search"
              (keydown.enter)="getdata(input.value)" #input
              class="bg-white border shadow-lg shadow-primary/50 border-primary text-secondary text-sm rounded-lg focus:ring-primary focus:border-primary block w-full  p-2.5"
              placeholder="type..."
              required autocomplete="off"
            />
          </div>
          <button
            class="p-2 px-3 ms-2 bg-white rounded-full shadow-lg shadow-primary/50  hover:bg-primary"
         
          >
          <i class="pi pi-send  text-sm text-secondary" ></i>
          </button>
        </div>
     

      </div>
    </div>

  </div>
  <div class="md:hidden h-[10%] ">
    <app-bootom-navigation />
  </div>
</div>
