<div class=" relative  flex  flex-col md:flex-row  justify-center items-end md:justify-between    ">
    <img class="  z-20 absolute left-[0rem] top-[-6vh] md:top-0 w-[60vw] h-[60vw] md:h-[18rem] md:w-[18rem] " ngSrc="../../../assets/Svg/greenguy.svg" width="900 " height="600" priority src="" alt="greeen anime character">
  <div
    class="flex w-[50vw] h-[50vw] md:w-[16rem] right-[42vw] md:right-0 relative md:h-[16rem] backdrop-blur-sm rounded-3xl  flex-col border-white border-2 bg-gradient-to-r from-white/50 to-white/50">

    <div class="flex w-full h-1/2  z-10">
    </div>
    <div class="flex w-full h-1/2  z-10"></div>
  </div>
  <div class="w-[90vw] h-[30vh] md:w-[25rem] mr-2 md:h-[300px] mt-[2vh]  flex  rounded-lg relative justify-around  ">
    <svg class="w-[90vw] h-[30vh] md:h-full md:w-full absolute top-0 z-0" viewBox="0 0 493 331" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_b_1_887)">
        <path
          d="M79.8286 193.33C108.359 203.319 129.766 227.253 136.522 256.717L137.831 262.427C147 302.413 182.581 330.758 223.605 330.758L408.025 330.758C454.417 330.758 492.025 293.15 492.025 246.758V87.9999C492.025 39.3988 452.626 -3.05176e-05 404.025 -3.05176e-05H63.9999C28.6537 -3.05176e-05 0 28.6537 0 64V102.953C0 140.344 23.6288 173.652 58.9194 186.009L79.8286 193.33Z"
          fill="#FAFAFF" fill-opacity="0.8" />
        <path
          d="M80.1591 192.386C109.014 202.489 130.663 226.695 137.497 256.494L138.806 262.203C147.871 301.735 183.048 329.758 223.605 329.758H408.025C453.865 329.758 491.025 292.598 491.025 246.758V87.9999C491.025 39.9511 452.074 0.999969 404.025 0.999969H63.9999C29.206 0.999969 1 29.206 1 64V102.953C1 139.919 24.3603 172.849 59.2499 185.065L80.1591 192.386Z"
          stroke="white" stroke-width="2" />
      </g>
      <defs>
        <filter id="filter0_b_1_887" x="-24" y="-24" width="540.025" height="378.758" filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feGaussianBlur in="BackgroundImageFix" stdDeviation="12" />
          <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1_887" />
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1_887" result="shape" />
        </filter>
      </defs>
    </svg>
    <div class="w-[35vw] md:w-[10rem]  h-full  z-10 flex  flex-col   items-center">
      <div class="flex flex-col justify-center items-center w-full h-[11rem] ">
        <span class="text-[1.rem] mb-0">Oct, 2024</span>
        <span class="text-[2rem] mt-[-0.5rem]">02</span>
      </div>
      <div
        class="w-[80px] h-[90px] md:w-[6rem] md:h-[6rem] mr-4 flex justify-center items-center bg-primary rounded-full">
       
        <i class="pi pi-ticket" style="font-size: 1.5rem" ></i>
      </div>
    </div>
    <div class="w-[55vw] md:w-[15rem]  h-full  z-10 ">
      <div class=" w-full  h-1/2 flex justify-center items-center relative">
        <img class=" h-[10rem] md:h-[10em] absolute top-7 right-5 rounded-3xl" alt="event notice" ngSrc="../../../assets/Images/festable.webp" width="402.05 " height="160" priority>
      
      </div>
      <div class="logoImage w-full h-1/2 flex items-center">

        <div class="inline-flex rounded-full shadow-none border-none">
          <button type="button"
            class="px-2 md:px-4 text-sm font-medium text-gray-400 bg-transparent  rounded-s-lg   focus:z-10 ">
            <i class="pi pi-heart" style="font-size: 1rem" class="text-secondary hover:scale-150"></i>
            <span>32,190</span>
          </button>
          <button type="button"
            class="px-2 md:px-4 text-sm font-medium text-gray-400 bg-transparent    ">
            <i class="pi pi-star" style="font-size: 1rem" class="text-secondary hover:scale-150"></i>
            <span>32,190</span>
          </button>
          <button type="button"
            class="px-2 md:px-4 py-2 text-sm font-medium text-gray-400 bg-transparent rounded-e-lg   ">
            <i class="pi pi-play-circle" style="font-size: 1rem" class="text-secondary hover:scale-150"></i>
            <span>32,190</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


