.containerSB {  
    justify-content: start;
    align-items: flex-start;
    display: flex;
    font-family: 'Inter UI', sans-serif;
    padding-left: 20px;
  }
  .text {
    font-weight: bold;
    font-size: 72px;
    color: #ffff;
  }
  .sb {
    color:#ffff;
  }