<!-- <div class="card bg-white " style="width: 300px; min-height: 31rem;">
  <div class="header ">
    <img [ngSrc]="item.productImgPath ? item.productImgPath : '../../../assets/default.jpg'" width="375" height="250" priority>

  </div>
  <div class="body relative">

  <app-heart (click)="handleProductWishlist(item)" ></app-heart>


    <span class="category">cloth</span>
    <h1>{{item.title}}</h1>
    <p>{{item.description.substring(0, 100)}}
    ...</p>
    <div>
      <span>Price</span>
      <h2 class="ml-1">${{item.price}}</h2>
      <h2 class="ml-1 fullPrice" >${{item.discount+ item.price}}</h2>

        <span class="bg-green-100 ml-auto flex text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded  border border-green-400">  <img src="../../../../assets/icons/discountBadge.png" class="h-5 w-5">
          14.29% off</span>


    </div>
  </div>
  <div class="footer ">
    <a class="btn edit bg-white hover:bg-secondaryS3 text-primary border-2 border-primaryS1 w-full text-center " (click)="handleProductAdd(item)">Add To cart</a>
    <a class="btn edit bg-primaryS1 hover:bg-primary text-white w-full text-center " routerLink="/product-details" > View Product</a>

  </div>

</div> -->


<div class="container overflow-hidden rounded-xl relative flex m-4  justify-between flex-col " style="width: 300px; min-height: 26rem;">
   <img class="absolute cursor-pointer backimg top-0 transition ease-in-out delay-150 hover:-translate-y-8 hover:scale-110" (click)="viewProduct(item.id)" [ngSrc]="item.productImgPath ? item.productImgPath : '../../../assets/default.jpg'" width="400" height="200" >
   <div class="head flex justify-between mx-2">
    <div class="like relative">
      <app-heart (click)="handleProductWishlist(item)" [iswishListed]="item.IsWishlisted || false" ></app-heart>
    </div>
    <div class="discount relative">
      <span class="bg-green-100 absolute top-[1.5rem]  right-[0px]  flex text-green-800 text-xs font-medium me-2 px-2.5 py-2 rounded-3xl  w-[max-content] border border-green-400">  
        <i class="pi pi-star-fill h-5 w-5 text-green-500 font-bold" ></i>
        14.29% off</span>
    </div>
   </div>

   <div class="content p-5 border-primary border-2 flex items-center flex-col  rounded-xl bg-white   backdrop-blur-sm">
    <div class="text-center  text-secondary font-bold text-2xl mb-2 cursor-pointer hover:text-primaryS1 " (click)="viewProduct(item.id)">{{item.title}}-- {{item.Incart}}</div>
    <div class="flex justify-centerz">  <span class="ml-1">${{item.price}}</span>
      <span class=" decoration-slice ml-1" >${{item.discount+ item.price}}</span></div>
      <a [ngClass]="{'Incart':item.Incart}" class="mt-2 font-bold rounded-full py-2 w-[12rem] bg-primary text-secondary  hover:bg-gray-300   text-center cursor-pointer " (click)="handleProductAdd(item)" > {{item.Incart? 'Added To cart':'Add To cart'}}</a>
   </div>

</div>


