

<div class="fixed z-[99] w-full h-16 max-w-lg -translate-x-1/2   backdrop-blur-sm  border-white border-1 bg-white first-letter:  rounded-full  bottom-0 left-1/2 dark:bg-gray-700 dark:border-gray-600  ">
  <div class="grid overflow-hidden  h-full max-w-lg grid-cols-5 mx-auto border-2 border-primary rounded-full">
      <button  type="button" class="flex  items-center justify-center   hover:bg-gray-50 dark:hover:bg-gray-800 ">
        <i class="w-6 h-6  pi pi-home text-secondary" [routerLink]="['../home']" routerLinkActive=" shadow-lg shadow-primary/90 rounded-full h-[2.5rem] w-[2.4rem] p-2 text-lg " ></i>
         
      </button>
   
      <button type="button" class="flex  items-center justify-center  hover:bg-gray-50 dark:hover:bg-gray-800 ">
        <i class="w-6 h-6  pi pi-comments text-secondary" [routerLink]="['../chat']" routerLinkActive="shadow-lg shadow-primary/90 rounded-full h-[2.5rem] w-[2.4rem] p-2 text-lg" ></i>
      </button>
    
      <div class="flex items-center justify-center">
          <button type="button" class="flex items-center justify-center w-10 h-10 font-medium bg-secondary rounded-full ">
            <i class="w-6 h-6  pi pi-shopping-cart text-primary" [routerLink]="['../shop']" routerLinkActive=" rounded-full text-lg shadow-lg shadow-secondary/90 border-white" ></i>
          </button>
      </div>
      <button  type="button" class="flex  items-center justify-center  hover:bg-gray-50 dark:hover:bg-gray-800 ">
         <i class="w-6 h-6  pi pi-microchip-ai text-secondary" [routerLink]="['../gemini']" routerLinkActive="shadow-lg shadow-primary/90 rounded-full h-[2.5rem] w-[2.4rem] p-2 text-lg" ></i>
      </button>
      <button  type="button" class=" relative flex  items-center justify-center rounded-e-full hover:bg-gray-50 dark:hover:bg-gray-800 group">
       <div class="h-[3rem] w-[3rem]" [routerLink]="['../profile']" >
        <app-profile/>
       </div>
      </button>
 
  </div>
</div>
