<div class="flex flex-col h-[100vh] md:h-[40.2rem] w-[100vw]  md:w-[100%]  border-2 md:border-white ">
  @if (this.selectedChat$|async ) {
  <div
    class="bg-white border-2 border-secondary "
    *ngIf="this.selectedChat$ | async as selectedChat"
  >
    <div class="flex items-center justify-between px-2 py-2">
      <div class="flex-shrink-0">
        <button (click)="viewProfile()" class=" rounded-full shadow-lg shadow-primary/50">
          <img
          class="w-[3rem] h-[3rem] rounded-full cursor-pointer"
          [src]="
            selectedChat.chatpic ??
            '../../../../assets/AnimeIMG/orange.webp'
          "
          alt="Profile image"
                />
        </button>
      </div>
      <div class="flex-1 min-w-0 ms-4">
        <p class="text-sm font-bold text-secondary truncate">{{ selectedChat.chatName}}</p>
        <p class="text-sm text-green-600 truncate">active</p>
      </div>
      <div class="md:hidden">
        <ng-content></ng-content>
      </div>

    </div>
  </div>
  <div class=" chat-area h-[27rem] bg-secondary/90 overflow-y-scroll">

    <ng-container *ngIf="user$ | async as currentUser">
      <div
        *ngFor="let message of message$ | async"
        [ngClass]="{ sender: message.senderId === currentUser.uid }"
        class="chat-booble-container"
      >
        <div class="chat-bubble">
          {{ message ? message.text : "No message" }}
          <span class="chat-date">{{ message.sendDate | date : "short" }}</span>
        </div>
      </div>
      <div #endofChat></div>
    </ng-container>
  </div>

  <div
    class="h-[10%] fixed bottom-16  md:static md:bottom-0 w-full bg-white flex justify-center items-center  px-2 border-t-2 border-t-white"
  >

    <div class="flex items-center w-full ">

  
      <div class=" w-full">
        <input
          type="text"
          id="simple-search"
          [formControl]="messageControl"
          (keydown.enter)="sendMessage()"
          class="bg-white border shadow-lg shadow-primary/50 border-primary text-secondary text-sm rounded-lg focus:ring-primary focus:border-primary block w-full  p-2.5"
          placeholder="type..."
          required autocomplete="off"
        />
      </div>
      <button
        class="p-2 px-3 ms-2 bg-white rounded-full shadow-lg shadow-primary/50  hover:bg-primary"
        (click)="sendMessage()"
      >
      <i class="pi pi-send  text-sm text-secondary" ></i>
      </button>
    </div>
  </div>
  }
  @else{
    <div class="w-full h-full flex justify-center items-center">
      <span class="text-white text-3xl">Start a Chat 😎</span>
    </div>
  }
</div>



<div
id="default-modal" (click)="viewProfile()"
tabindex="-1"
aria-hidden="true"  [ngClass]="{'hidden':profilePopup, 'block':!profilePopup}"
class=" overflow-y-auto overflow-x-hidden fixed top-0 right-0 md:left-[40%] z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>


<div class="relative p-4 w-full max-w-2xl max-h-full">

  <div class="flex justify-center items-center flex-col relative bg-white rounded-lg shadow "   *ngIf="this.selectedChat$ | async as selectedChat">
    <div class="bg-primaryS2 pt-4 pb-5 w-full flex justify-center items-center">
      <img  class="aspect-square w-[6rem] rounded-full"
      [src]="
      selectedChat.chatpic ??
      ''
    "
    alt="Profile image">

    </div>
    <div class="">
      <h1>{{selectedChat.chatName}} </h1>
    </div>
    <div class="mt-2">
      <p>I am web Developer 😎</p>
    </div>
    <div class="mt-2">

    </div>
  </div>
</div>
</div>
