<div class= " rounded-lg bg-white/60 backdrop-blur-sm flex justify-center items-center min-h-[100vh]">
  <form class="bg-white rounded-lg p-10 w-[90%] md:w-[40%] border-2 border-primary"  #loginForm= 'ngForm' >
    <div class="flex justify-between">
      <h1 class="text-md text-secondaryS1 mb-5">Forget Password...!</h1>

    </div>
    <div class="grid grid-cols-1 content-center ">
      <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium  text-secondaryS2">Email address</label>
        <input   email required [(ngModel)]="email"  type="email" id="email" name="email" class="bg-white border border-secondaryS3 text-secondaryS1 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 "  required>
    </div>

    <button type="button" class="text-white bg-primary hover:bg-primaryS1 focus:outline-none focus:ring-4 focus:ring-primaryS3 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 " (click)="forgetPassword()">Send  Code</button>

    </div>
  </form>

</div>
