<header class="  flex h-auto overflow-scroll md:overflow-auto justify-around md:justify-normal flex-col  relative">

       
              
    <app-header/>

    <div class="h-[20vh] md:h-[35vh] mt-[10vh] md:mt-0 p-5">
        <h1 class="text-3xl md:text-5xl font-bold text-white">Welcome To Kwaii</h1>
        <p class="text-white">Here we make Future  </p>
        <!-- <app-rewritetext></app-rewritetext> -->
    </div>
    <div class="">
    
    <app-notice-pannel/>
    </div>
    <div class="md:hidden ">
      <app-bootom-navigation/>
    </div>
       
    
    </header>
    