
  <div class="w-[100%] flex flex-row relative   min-h-[100vh] ">
    <img ngSrc="../../../assets/Svg/blob-scene-haikei.svg"  alt="background" width="100" height="100" priority class="h-[100%] w-[100%] object-cover fixed top-0  ">
      <div class="hidden md:flex md:w-[10%] h-[100%] justify-center flex-col items-center  ">
        <div  class="flex-col items-center fixed top-4 z-20"><app-side-navigation/></div>
  
      </div>
  

  
   <div class="w-[100%] h-min-[100%]    "  >

  
      <router-outlet></router-outlet>
  

  
  
    </div>
  
  </div>
  
  
  